html, body{
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
}

.menu{
    position: fixed;
    width: 200px;
    padding: 10px;
    cursor: default;
}

.form-submit-container{
    padding-top: 5px;
    text-align: center;
}

.form-submit{
    font-size: 110%;
}

.menu-group{
    padding: 4px;
    background: #eee;
}

.menu-group-filled{
    background: #34E534;
}

.content{
    margin-left: 220px;
    max-width: 600px;
    padding: 10px 0;
}

.group-header{
    font-size: 110%;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.group-toggle{
    display: inline-block;
    border-radius: 2px;
    padding: 2px;
    height: 16px;
    line-height: 16px;
    background: #ddd;
    border: 1px solid #ccc;
    font-size: 90%;
    cursor: pointer;
}

.group-toggle:hover{
    background: #eee;
}

.group-show{
    display: none;
}

.question-header{
    margin-bottom: 4px;
}

.question-header-required{
    font-weight: bold;
}

.question-content{
    margin: 0 10px 10px 0;
}

.question-flag-label{
    display: block;
}

.question-textarea{
    width: 100%;
    resize: vertical;
    border: 1px solid #aaa;
}

.question-header-additional{
    float: left;
    width: 150px;
}

.question-content-additional{
    margin-left: 150px;
}

.question-input-text{
    width: 100%;
    border: 1px solid #aaa;
}

.question-additional:after{
    content: "";
    font-size: 0;
    line-height: 0;
    clear: both;
    display: block;
}